body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #002147;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.img-png{
    height: 20px;
    width: 10px;;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

    nav li a {
        color: #fff;
        text-decoration: none;
    }

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    background-color: #002147;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
        background-color: #fff;
        color: #002147;
}

.social-icons li a i {
  color: #fff;
}

footer {
    background-color: #002147;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    height: 200px;
}

::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(96 96 96);
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(116 116 116);
    }
.title {
    color: white;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}


    .navigation a::after {
        content: '';
        left: 0px;
        bottom: -6px;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s;
    }

    .navigation a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }